PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/lab5_orders

# For MongoDB Atlas, use a connection string like:
# MONGODB_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/lab5_orders?retryWrites=true&w=majority
